/* --------------------- */
/* GLOBAL
/* --------------------- */
/*Typefaces*/
body {
  font-Family: 'Quattrocento', Serif;
  font-size: 16px
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 1.25;
  word-break: initial;
}

article:before, nav:before { background: none; }

section .post h1 {
  word-break: initial;
}

hr {
  display: block;
  height: 0px;
  border: 0;
  border-top: 1px dotted #ccc;
  margin: 5% 0 0% 0;
}

/* h1 consistency throughout page types */
.permalinkpage h1.post-title,
.tag-page-title h1 {
  font-size: 4rem;
  line-height: 1.1;
  margin: 0 0  2rem 0;
  padding: 0;
  text-align: center
}

/* --------------------- */
/* TYPOGRAPHY PATTERNS
/* --------------------- */

/* Body Copy Size */
.caption p,
.post p,
.post ol li,
.post ul li {
  font-size: 1rem
}

/* Small Size */
small,
article aside .meta-wrapper {
  font-size: 1rem
}

/* --------------------- */
/* FOOTER
/* --------------------- */

footer {
  background-color: #333;
  margin: 3em 0 0 0;
  padding: 3em 0;
  border-top: 1px dashed #ccc;
}

footer * {  color: white }

.meta-wrapper {
  border-top: #ccc dashed 1px;
  padding-top: 1rem
}

/* --------------------- */
/* HEADER
/* --------------------- */

#blog-title h1 {
  font-size: 2rem;
  letter-spacing: 0.15rem;
  margin: 0 0 0.5rem 0;
}

header.wrapper {
  background: #373737;
  border-bottom: 1px dashed #676767 !important;
}

header { padding: 40px 0; }

header h2 { width: auto; }

#description h2 {
  color: #bcbcbc;
  font-Family: 'Quattrocento', Serif;
  font-size: 0.8rem;
  letter-spacing: 0.10rem;
  text-transform: none
}


/* MENU */

#container nav {
  background: #4c4c4c;
  margin-bottom: 30px;
}

nav { border-bottom: 1px dashed #676767 }

nav:before { margin: 0; }

nav a {
  color: white;
  letter-spacing: 1px;
}

#menu li.active a {
  color: #ffcc00;
  font-weight: normal
}

#menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}

#menu li {
  flex: 0 1 auto;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 900px) {
  #menu { display: grid; }

  #menu li { padding: 0.75em; }
}

#menu li a {
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  width: 100%
}

/* --------------------- */
/* POSTS
/* --------------------- */

#menu li a,
.post-title { line-height: 133% }
.read-more { margin-bottom: 0.8em }

/*Table Styling*/
.post table { width: 100% }
.post table tbody tr td {
  width: 50%;
  padding: 3%;
  font-size: 1em;
  line-height: 133%;
  background-color: #efefef;
  border: 1px solid #ccc;
}

/* Unique post rules */
.post h2,
.post h3,
.post p,
.post table,
.post img {
  margin: 1rem 0 0 0
}

article .post p:last-of-type { margin-bottom: 1rem }


/* --------------------- */
/* PERMALINK PAGES
/* --------------------- */

.permalinkpage .post p:first-of-type {
  /*display: none;*/
}

.permalinkpage .post h2 { 
  font-size: 2.5rem;
  margin-top: 3rem;
  clear: both
}

.permalinkpage .post h3 {
  font-size: 1.75rem;
  color: #b6b6b6
}

.permalinkpage .post ol li,
.permalinkpage .post ul li {
}

.permalinkpage hr + h2,
.permalinkpage hr + h3 {
  margin-top: 2rem;
}

.permalinkpage .post h1,
.permalinkpage .post h2,
.permalinkpage .post h3 {

}

/*First paragraph after h3*/
.permalinkpage h3 + p { margin-top: 0.5rem }

/* --------------------- */
/* INDEX PAGE
/* --------------------- */

.indexpage h1.post-title { font-size: 1.75rem }
.indexpage .post h2 { font-size: 1.5rem }
.indexpage .post h3 { color: #a9a9a9 }

.indexpage article {
  background: white;
  border: 1px dotted #e7e7e7;
  box-sizing: border-box;
  padding: 0 25px;
}

/* Index page post truncation */
.indexpage article .post p:last-of-type {
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-height: 1.8;        /* fallback */
  max-height: 5.4rem;       /* fallback */
}

#container {
  background: #f9f9f9;
  border-right: 1px dashed #ccc;
  border-left: 1px dashed #ccc;
}

.tag-page-title {
  margin-bottom: 3rem;
  text-align: center;
  text-transform: lowercase
}

.indexpage article {
    overflow: hidden
}

.permalink-container {
  color: white;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 10%;
  width: 100%;
  z-index: 1;
}




